@{
    Layout = null;
    string title = (string)ViewBag.Title;
    title = title ?? "Default";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@title | @Globals.AppName</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="@Globals.Description">
    <meta name="theme-color" content="#0659a6">

    <meta name="apple-mobile-web-app-title" content="@Globals.AppName" />
    <meta name="description" content="@Globals.Description" />
    <meta name="twitter:description" content="@Globals.Description" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="application-name" content="@Globals.AppName" />
    <meta name="author" content="Neon Clouds" />
    <meta name="image" content="~/img/icon-152x152.png" />
    <meta name="thumbnail" content="~/img/icon-152x152.png" />

    <!-- Favicomatic -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/img/icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/img/icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/img/icon-152x152.png" />
    <meta name="application-name" content="Generic WebApp" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/img/mstile-144x144.png" />
    <link href="~/img/icon-57x57.png" rel="icon" type="image/png" />
    <!-- End of favicomatic -->

    <link rel="manifest" href="~/manifest.json">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.min.css" />
</head>
<body>
    <noscript>
        This application requires Javascript to run. Either turn it on or look for another
        device with this capability.
    </noscript>
    
    @RenderBody()
    <span style="display:none;" class="error">.</span>
    <script type="text/javascript" src="~/js/bundle.min.js"></script>
</body>
</html>